<section class="additional-info">
  <div class="additional-info__items container">
    <div class="item">
      <div class="item__row">
        <div class="item__form">
          <h3 class="item__title">Получайте бонусы и подарки</h3>
          <p class="item__text">Каждый месяц разыгрываем<br>
            10 000 рублей для наших клиентов</p>
          <form class="item__input">
            <input type="text" placeholder="Вевдите e-mail">
          </form>
        </div>
        <svg class="item__image">
          <use xlink:href="../img/svg/additional-info/mail-icon.svg#mail"></use>
        </svg>
      </div>
    </div>
    <div class="item">
      <div class="item__form">
        <h3 class="item__title">Заходите к нам</h3>
        <p class="item__text">Более 300 магазинов<br>
          по всей России</p>
        <button class="item__button">Карта магазинов</button>
      </div>
    </div>
  </div>
</section>
