<footer class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-main__socials">
        <a class="footer-main__social-link" href="#">
          <svg class="footer-main__social-image">
            <use xlink:href="../img/svg/footer/facebook.svg#facebook"></use>
          </svg>
        </a>
        <a class="footer-main__social-link" href="#">
          <svg class="footer-main__social-image">
            <use xlink:href="../img/svg/footer/inst.svg#inst"></use>
          </svg>
        </a>
        <a class="footer-main__social-link" href="#">
          <svg class="footer-main__social-image">
            <use xlink:href="../img/svg/footer/vk.svg#vk"></use>
          </svg>
        </a>
        <a class="footer-main__social-link" href="#">
          <svg class="footer-main__social-image">
            <use xlink:href="../img/svg/footer/youTube.svg#youTube"></use>
          </svg>
        </a>
      </div>
      <p class="footer-main__address">198555, Невский пр. 140, офис 140</p>
      <div class="footer-main__contacts">
        <span class="footer-main__contacts-number">8 (812) 123-45-67</span>
        <button class="footer-main__contacts-button" type="button">Обратный звонок</button>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom_row container">
      <p class="footer-bottom__text">Лучший магазин (с) 2019 Все права защищены. Интернет-магазин оборудования для салонов красоты</p>
      <p class="footer-bottom__text">Политика конфиденциальности</p>
    </div>
  </div>
</footer>
