<header class="header">
  <div class="header-head">
    <a href="#">
      <p class="header-head__item">Доставка</p>
    </a>
    <a href="#">
      <p class="header-head__item">Оплата</p>
    </a>
    <a href="#">
      <p class="header-head__item">Отзывы</p>
    </a>
    <a href="#">
      <p class="header-head__item">Вопрос-ответ</p>
    </a>
    <a href="#">
      <p class="header-head__item">Контакты</p>
    </a>
  </div>
  <div class="container">
    <div class="header-main">
      <div class="header-main__logo">
        <svg class="header-main__logo-image">
          <use xlink:href="../img/svg/header/logo.svg#logo"></use>
        </svg>
        <span class="header-main__logo-text">BEAUTY</span>
      </div>
      <div class="header-main__contacts">
        <span class="header-main__contacts-number">8 (812) 123-45-67</span>
        <button class="header-main__contacts-button" type="button">Обратный звонок</button>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <a href="#">
      <p class="header-bottom__item">Парихмахерская</p>
    </a>
    <a href="#">
      <p class="header-bottom__item">Барбершоп</p>
    </a>
    <a href="#">
      <p class="header-bottom__item">Маникюр</p>
    </a>
    <a href="#">
      <p class="header-bottom__item">Педикюр</p>
    </a>
    <a href="#">
      <p class="header-bottom__item">Массаж</p>
    </a>
    <a href="#">
      <p class="header-bottom__item">Мебель</p>
    </a>
  </div>
</header>
