<section class="section-offers">
  <div class="container">
    <h2 class="section-offers__title">Специальные предложения</h2>
    <svg class="section-offers__car">
      <use xlink:href="../img/svg/offers/car.svg#car"></use>
    </svg>
    <div class="section-offers__items">
      <div class="section-offers__item">
        <img class="section-offers__item-img" src="../img/offers/offer-img.png" alt="кресло">
        <p class="section-offers__item-desc">Парикмахерское кресло «Норм» гидравлическое</p>
        <span class="section-offers__item-price">9 900 Р</span>
        <button class="section-offers__item-button" type="button">Купить</button>
      </div>
      <div class="section-offers__item">
        <img class="section-offers__item-img" src="../img/offers/offer-img.png" alt="кресло">
        <p class="section-offers__item-desc">Парикмахерское кресло «Норм» гидравлическое</p>
        <span class="section-offers__item-price">9 900 Р</span>
        <button class="section-offers__item-button" type="button">Купить</button>
      </div>
      <div class="section-offers__item">
        <img class="section-offers__item-img" src="../img/offers/offer-img.png" alt="кресло">
        <p class="section-offers__item-desc">Парикмахерское кресло «Норм» гидравлическое</p>
        <span class="section-offers__item-price">9 900 Р</span>
        <button class="section-offers__item-button" type="button">Купить</button>
      </div>
      <div class="section-offers__item">
        <img class="section-offers__item-img" src="../img/offers/offer-img.png" alt="кресло">
        <p class="section-offers__item-desc">Парикмахерское кресло «Норм» гидравлическое</p>
        <span class="section-offers__item-price">9 900 Р</span>
        <button class="section-offers__item-button" type="button">Купить</button>
      </div>
    </div>
  </div>
</section>
