<section class="section-promo">
  <div class="section-promo__container container">
    <div class="section-promo__describe">
      <h1 class="section-promo__describe-title">Супер кресло</h1>
      <p class="section-promo__describe-text">Текст акции всегда отражает суть, а не просто
        болтовню, поэтому внимательнее</p>
      <button class="section-promo__describe-button">Подробнее</button>
    </div>
    <div class="section-promo__background">
      <div class="background__one"></div>
      <div class="background__two"></div>
      <img class="background__img" src="../img/promo/section.png">
    </div>
  </div>
</section>
